body {
    background-color: $off-white;
    margin: 0;
}

.box-layout {
    background-image: linear-gradient(
        rgba(32, 26, 22, 0.45), 
        rgba(39, 34, 29, 0.45)
      ),
    url(/imgs/bg.jpeg);
    background-color: $primary;
    height: 100vh;
    padding-top: 10px;
}

.box-layout, .header {
    max-width: $max-width;
    margin: auto;
}

.header {
    background-color: $primary-dark;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    & h1 {
    margin: 0;
    padding-left: 15px;
    }
}
