body {
    background-color: $background;
    margin: 0;
}

.box-layout {
    background-color: $primary;
    height: 100vh;
    padding-top: 10px;
}

.box-layout, .header {
    max-width: $max-width;
    margin: auto;
}

.header {
    background-color: $primary-dark;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    & h1 {
    margin: 0;
    padding-left: 15px;
    }
}
