.sign-in{
    margin: auto;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &--btn{
        background-color: $secondary;
        border: none;
        padding: 10px;
        width: 200px;
        margin: auto;
        color: $off-white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        transition: all 0.5s;
        cursor: pointer;


        & span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
            color: $off-white;
        }

        & span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        &:hover span {
            padding-right: 25px;
        }

        &:hover span:after {
            opacity: 1;
            right: 0;
        }
    }

    &--text{
        text-align: center;
        padding: 0 20px;
        color: $off-white;
    }

    &--icon{
        color: $secondary;
        width: auto;
        margin: auto;
        padding: 20px;
        font-size: 30px;
    }
}

.sign-out{

    background-color: $primary-dark;
    border: none;
    padding: 10px 10px;
    margin-right: 10px;
    color: $off-white;
    cursor: pointer;
    transition: all 0.5s;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &--icon {
        font-size: 20px;
    }
}