$background: rgb(32, 36, 36);
$primary: darkslategray;
$primary-dark: rgb(35, 56, 56);
$white: #fff;
$off-white: whitesmoke;
$secondary: rgba(212, 110, 14, 0.884);

$max-width: 700px;
$fs-small: 16px;
